/ca.bidon.reporterror
/cache
/com.cividesk.helptab
/com.civifirst.phonenumbervalidator
/org.civicoop.civirules
/org.civicrm.payment.googlecheckout
/org.civicrm.search.activity
/org.civicrm.search.basic
/org.civicrm.search.multivalue
/tmp
/uk.co.circleinteractive.payment.sagepay
